:root {
	--color-background: #ffffff;
	--color-text: #000000;
}

:root[data-theme="light"] {
	--color-background: #ffffff;
	--color-text: #000000;
}

:root[data-theme="day"] {
	--color-background: #bbbbbb;
	--color-text: #111111;
}

:root[data-theme="night"] {
	--color-background: #0e2b45;
	--color-text: #eeeeee;
}

:root[data-theme="dark"] {
	--color-background: #000000;
	--color-text: #ffffff;
}
